body {
    background-color: #5792E6;
}

/* Index */
.name {
    font-size: 600%;
    font-family: 'Pacifico', cursive;
    font-weight: 100;
    text-align: center;
}

.landing-photos {
    width: 1000px;
    padding-left: 25%;
    display: table;
}

figure {
    float: left;
    margin: 30px;
    padding: 1%;
    display: table;
}

figcaption {
    display: table-caption;
    caption-side: bottom;
    text-align: center;
    font-family: 'Fredoka', Arial, Helvetica, sans-serif;
}

.speech-image {
    width: 250px;
    height: 250px;
    
}

.yearbook-image {
    width: 250px;
    height: 250px;
    
}

.graduation-image {
    width: 250px;
}

.links {
    margin-top: 15%;
    text-align: center;
    font-size: 40px;
    padding-bottom: 50px;
}


/* About */

.header {
    text-align: center;
    font-size: 40px;
    text-decoration: underline;
    font-family: 'Roboto Mono', monospace;
}

.profile-photo {
    height: 700px;
    float: right;
    margin-right: 10%;
    position: relative;
    bottom: 600px;
}

.about-para {
    font-size: 20px;
    line-height: 35px;
    font-family: 'Fredoka', Arial, Helvetica, sans-serif;
}

.paragraph {
    width: 45%;
    padding-left: 5%;
    margin-top: 10%;
}

figcaption {
    font: 15px;
    font-family: 'Fredoka', Arial, Helvetica, sans-serif;
}

.about-page-link {
    margin-top: 12%;
    font-size: 40px;
    margin-left: 48%;
    
}

/* Hobbies */
.hobbies-header {
    text-align: center;
    font-size: 40px;
    text-decoration: underline;
    font-family: 'Roboto Mono', monospace;
}

.hobbies-paragraph {
    font-size: 20px;
    line-height: 35px;
    padding-left: 5%;
    padding-right: 5%;
    font-family: 'Fredoka', Arial, Helvetica, sans-serif;
}

.hobby-photos {
    padding-left: 15%;
}

.switch-image {
    height: 300px;
    width: 450px;
}

.bella-image {
    height: 300px;
}

.lego-image {
    height: 300px;
}

